:root{
    --main-bg: #C8C1b8;
    --secondary-bg: #C1B9Af;

    --light-warm-gray: #8F857E;
    --dark-warm-gray: #453E38;

    --primary-fg: #eee;
    --secondary-fg: #584338;
    --tertiary-fg: #96725F;

    --navbar-padding: 25px;
    --navbar-height: 10vh;

    --large-text-size: 1.5rem;
    --medium-text-size: 1.25rem;
    --normal-text-size: 1rem;
    --small-text-size: 0.75rem;
    --navbar-text-size: 1.25rem;
}

body{
    margin: 0;
    background-color: var(--main-bg);
    font-family: 'Times New Roman', Times, serif;
    width: 100vw;
    overflow-x: hidden;
}

html{
    scrollbar-color: rgba(0, 0, 0, 0.141) transparent;
}

button{
    border: none;
    cursor: pointer;
}

body{
    overflow: hidden;
}

.navbar{
    position: sticky;
    top:0;
    left:0;
    z-index: 100;

    background: var(--main-bg);

    height: var(--navbar-height);
    width: calc(100vw - 2*var(--navbar-padding));

    display: flex;
    align-items: center;
    padding: 0 var(--navbar-padding);

    transition: box-shadow 250ms;
    gap: var(--navbar-text-size);
}

.navbar.activate-shadow{
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.46);
}

[data-observer-intercept] {
    position: absolute;
    top: 11vh;
}


.navbar-info{
    display: flex;
    gap: var(--navbar-text-size);
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.navbar-logo{
    height: 8vh;
    aspect-ratio: 1/1;
    background-color: transparent;
    border-radius: 50%;
}

.store-name{
    color: var(--secondary-fg);
    font-weight: 880;
    font-size: var(--navbar-text-size);
    text-decoration: none;
}

.navbar-links-holder{
    display: flex;
    gap: calc(var(--navbar-text-size)*2);
    flex-shrink:1;
    justify-content: center;
    align-items: center;
}

.navbar-link{
    color: var(--tertiary-fg);
    font-weight: 880;
    font-size: var(--navbar-text-size);
    text-decoration: none;
}

.navbar-link:hover, .navbar-link.current-page{
    color: var(--secondary-fg);
}

.loading-screen{
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
    position: absolute;
    top: var(--navbar-height);
    background: #222;
    transition: 1s opacity;
    pointer-events: none;
}

.loading-title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: var(--primary-fg);
}

.loading-spinner{
    position: relative;
    height: 20vh;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: loading-spin 1500ms ease-in-out infinite;
    border-radius: 50%;
    padding: 10px;
    width: 10%;
    aspect-ratio: 1/1;
}

.loading-spinner img{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}

.fade-out{
    opacity: 0;
}

@keyframes loading-spin {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

.loading-progress{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.order-frame.active{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-frame{
    position: absolute;
    z-index: 5000;
    width: 25vw;
    height: 50%;
    min-height: 1.5rem;
    min-width: 125px;
    background-color: #58433884;
    resize: both;
    overflow-y: auto;
    overflow-x: hidden;
    right: 5%;
    top: 15%;
    box-shadow: 3px 3px 28px 1px rgba(0,0,0,0.24);
    -webkit-box-shadow: 3px 3px 28px 1px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 3px 28px 1px rgba(0,0,0,0.24);
    border-radius: .5rem;

    display: none;
    padding-bottom: 1rem;
}

.order-frame .header{
    cursor: move;
    width: 100%;
    height: 5%;
    max-height: 5%;
    min-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ddd;
    text-align: center;
}

.orders{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.order{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    min-height: 1.25rem;
    width: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.333);
}

.item-name{
    color:#ddd;
    font-weight: bolder;
    font-size: 1.25rem;
}

.item-price{
    color: #aaa;
    font-weight: normal;
}

.remove-item{
    color:red;
    font-weight: bolder;
    cursor: pointer;
}